# ignore binary
mainCNS
# ignore build and lib directories
build/
lib/
# ignore some specific files/directories
example/C++/src/*.o
example/C++/libCNStream.so
example/fortran/*.mod
example/fortran/main
example/fortran/Computation/main
example/fortran/Computation/libCNStream.so
output/
src/libFyMc/example/testDict/*.o
# ignore output files
MATLAB/waverf.cof
